/* @media (min-width: 1000px) {
  * {
    font-size: 13px;
  }
} */

:root {
  --background-color1: #606c38;
  --background-color2: #dda15e;
  --header-color1: #283618;
  --header-color2: #bc6c25;
  --text-color: #fefae0;
}

body {
  background-color: var(--background-color1);
  font-family: sans-serif;
  font-size: 15px;
  font-weight: normal;
  margin-left: 100px;
  margin-right: 100px;
}

.header {
  width: 100wv;
  height: 50px;
  background-color: var(--header-color1);
  outline: 1px solid transparent;
  margin: auto auto;
  padding: 0;
}

#navbar {
  position: fixed;
  top: 0;
  border: white;
}

.link {
  text-decoration: none;
  color: var(--text-color);
}

#welcome-section {
  font-weight: bolder;
  font-stretch: expanded;
  color: var(--text-color);
}

.bold {
  font-weight: bold;
}

.subheading {
  font-weight: bold;
  opacity: 70%;
}

ul > li {
  list-style: none;
}

h1 {
}

h2 {
}
