.link {
  text-decoration: none;
}

html {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

#navbar {
  position: fixed;
  top: 0;
}

/* @media (min-width: 1000px) {
  * {
    font-size: 13px;
  }
} */
